<div class="row">
  <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
  <h1>New Artist</h1>

  <%= render 'form', artist: @artist %>

  <%= link_to 'Back', artists_path, class: 'btn btn-default' %>
  </div>
</div>
