<div class="row">
  <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
    <h1>New Song</h1>

    <%= render 'form', song: @song %>

    <%= link_to 'Back', songs_path, class: 'btn btn-default' %>
  </div>
</div>

